#!/bin/sh

######################################
##### start wrapper_pre template #####
######################################

set -e

prefix="$(cd "$(dirname "$(realpath "$(which "$0")")")" && pwd)"

export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${prefix}/lib"
export PATH="${prefix}/bin:${PATH}"

# Convert to absolute argument paths in case a change directory is required
currdir="$(pwd)"
argv=
argc=0

for arg in "${@}"; do
  if [ -e "${arg}" ]; then
    arg="${currdir}/${arg}"
  fi

  argv[$argc]="${arg}"
  argc=$((argc + 1))
done

######################################
###### end wrapper_pre template ######
######################################

