#######################################
##### begin wrapper_post template #####
#######################################

exitcode=$?

if [ -d "${rundir}" ]; then
  rm -r "${rundir}"
fi

exit ${exitcode}

#######################################
###### end wrapper_post template ######
#######################################
